img{
    height: 40px;
    width: auto;
}

.fixture-header{
    text-align: center;
}

.fixture-info-div{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.fixture-info-rating{
    text-align: center;
}

.fixture-info-header-img{
    height: 30px;
    width: auto;
    margin-left: .5em;
    margin-right: .5em;
}

#fixture-info-commentary-title{
    text-align: center;
}