.rating {
    margin-bottom: .5em;
    margin-top: .5em;
}

.rating-info{
    display: block;
    text-align: center;
    /* border-right: 1px solid gray; */
}

.rating-info p {
    margin: .25em;
}

.rating-info a {
    color: black;
    text-decoration: none;
}

.rating-info a:visited {
    color: black;
}

.rating-info a:hover {
    color: blue;
}

.word-bubble-crest{
    height: 16px;
    width: auto;
    margin-right: .4em;
}

.word-bubble-ratings{
    margin-bottom: .4em !important;
    font-size: 15px;
}

.word-bubble-team{
    font-size: 18px;
}