.rating {
    margin-bottom: .5em;
    margin-top: .5em;
}

.rating-info{
    display: block;
    text-align: center;
    /* border-right: 1px solid gray; */
}

.rating-info p {
    margin: .25em;
}

.rating-info a {
    text-decoration: none;
}

.rating-info a:visited {
    color: black;
}

.rating-info a:hover {
    color: blue;
}