.rating {
    margin-bottom: .5em;
    margin-top: .5em;
}
.potm{
    text-align: center;
}
.username{
    text-align: center;
    margin: .5em;

}
.home-team{
    text-align: center;
}
.away-team{
    text-align: center;
}
