.team-card{
    display: block;
}

.team-card:hover{
    background-color: rgba(177, 177, 177, 0.767);
}

.team-card a{
    text-decoration: none;
}

.team-card a:link{
    color: black;
}

.team-card a:visited{
    color: black;
}

.team-card a:hover{
    color: blue;
}
